.jumbotron {
    color: whitesmoke !important;
    background-color: rgb(214, 177, 83);

    .half {
        width: 50%;
        display: inline-block;

        .vzla {
            text-align: center;
            height: auto;
            display: inherit;
            font-size: 200px;
            animation: slidein-left 1s;
            margin-top: 0;
            width: 100%
        }

        .abt-img {}
    }



}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}