@media only screen and (min-width: 800px) {
    .jumbotron {
        color: whitesmoke !important;
        background-color: #6D4343;

        .vzla {
            text-align: center;
            height: auto;
            display: inherit;
            font-size: 200px;
            animation: slidein-left 1s;
            margin-top: 0;
            width: 100%
        }

        .abt-img {
            width: 75%;
            display: inherit;
            align-self: center;
        }
    }



}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.jumbotron {
    margin-bottom: 0 !important;
}