.fa-github {
    color: black;
}

.fa-linkedin {
    color: #017bb8;
}

.fa-envelope-open-text {
    color: black;
}

#c_title {
    text-align: center;

}

#text {
    text-align: center;
}

#update {
    text-align: center;
}